body {
  font-family: Arial;
  background-color: white;
  padding: 30px;
  color: aqua;
  background-image: url(./img/pngwing.com.png);
  background-size: cover;
}


.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: blueviolet;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}